<div class="body-bg text-center">
    <div class="container">
        <h3 class="text-center fff t-55 relative">SIGN-UP</h3><br>
        <form class="text-center t-75 relative">
            <div class="form-group">
              <input type="text" class="form-control w-250 mx-auto bg-input"  placeholder="Shop Name">
            </div>
            <div class="form-group">
              <input type="text" class="form-control w-250 mx-auto bg-input" placeholder="Vendor Name">
            </div>
            <div class="form-group">
              <input type="text" class="form-control w-250 mx-auto bg-input"  placeholder="Mobile Number">
            </div>
            <div class="form-group">
              <input type="text" class="form-control w-250 mx-auto bg-input" placeholder="Email">
            </div>
            <div class="form-group">
              <input type="text" class="form-control w-250 mx-auto bg-input"  placeholder="City">
            </div>
            <div class="form-group">
              <input type="text" class="form-control w-250 mx-auto bg-input" placeholder="Area Location">
            </div>
            <div class="form-group">
              <input type="text" class="form-control w-250 mx-auto bg-input"  placeholder="Food License">
            </div><br>
            <button type="submit" class="btn btn-light w-250">Get Otp</button>
          </form>
    </div>
</div>
