.body-bg{
    background: linear-gradient(335.21deg, #A40000 0%, rgba(254, 0, 0, 0.63) 100%);
    width:100%;
    height: 100%;
    position: absolute;
}
.bg-input::placeholder{
    color: hsl(0, 0%, 98%);
    opacity: 0.6;
}
.bg-input{
    border: 0px solid #fff;
    background-color: #883434 !important;
    color: #ffffff !important;
}
.t-100{
    top:100px;
}
.t-75{
    top:75px;
}
.t-65{
    top:65px;
}
.t-55{
    top:55px;
}
.t-25{
    top:25px;
}
.t-10{
    top:10px;
}
.w-250{
    width: 250px;
}
.relative{
    position: relative;
}
.stuffons {
    position: relative;
    /* left: 65px; */
    top: 135px;

    font-family: 'Rambla', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 78px;
    text-align: center;

    color: #FFFBFB;

}
.circle{
    border-radius: 50%;
}
.br-10{
    border-radius: 10%;
}
.f-64{
    font-size: 64px;
}
.f-18{
    font-size: 18px;
}
.stuffons-content{
    position: relative;
    /* left: 113px; */
    top: 145px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 21px;
    text-align: center;

    color: #FFFBFB;
}
.food-intro {
    position: relative;
    top: 20%;
    
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    
    color: #FFFBFB;
    
}
.w-200{
    width:200px;
}
.mobile-input {
    position: relative;
    width: 289px;
    height: 50px;
    top: 25%;
}
.inp-mob {
    background: #883434;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.menu {
    background-color: #EB5757;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width:100%;
    height:63px;
    z-index: 100;

}
.pt-10 {
    padding-top: 10px;
}
.fff {
    color : #ffffff;
}
.onboarding-btn-sign-in{
    position: relative;
    /* left: 113px; */
    top: 130px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 2;
    text-align: center;
    background-color: #8B1414;
    color: #ffffff;
}
.onboarding-btn{
    display: none;
    border-radius: 50px; 
    -moz-border-radius: 50px; 
    -webkit-border-radius: 50px; 
    border: 0px solid #fff;
    width: 170px;
    height :60px;
}
.red {
    color :#EB5757 !important;
}
.h-m-menu {
    font-size: 1.64rem;
    line-height: 110%;
    margin: .62rem 0 0.356rem 0;
}
.input-field input[type=search] {
    display: block;
    line-height: inherit;
    padding-left: 4rem;
    width: calc(80% - 4rem);
}
.nav-style{
    color :#EB5757 !important;
    background-color: #fff;
}
@media (min-width: 768px) {
    .navbar-brand.abs
        {
            position: absolute;
            width: 100%;
            left: 0;
            text-align: center;
        }
    }
    