<div class="container-fluid menu">
    <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 col-3 text-center">
            <a href="http://localhost:3000" class="fff"><h5 class="pt-10"><i class="fas fa-utensils"></i></h5><small>menu</small></a>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 col-3 text-center">
            <a href="" class="fff"><h5 class="pt-10"><i class="fas fa-location-arrow"></i></h5><small>location</small></a>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 col-3 text-center">
            <a href="" class="fff"><h5 class="pt-10"><i class="fas fa-glasses"></i></h5><small>review</small></a>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 col-3 text-center">
            <a href="" class="fff"><h5 class="pt-10"><i class="fas fa-chart-line"></i></h5><small>statistics</small></a>
        </div>
    </div>
</div>