<nav class="fixed-top nav-style">
    <div class="nav-wrapper">
        
        <form>
            <div class="input-field">
                <a onclick='$(".button-collapse").sideNav();' data-activates="mobile-demo" class="button-collapse">
                    <i class="fas fa-bars"></i>
                </a>
                <input id="search" type="search" placeholder="Search for restaurant or food">
            </div>
        </form>
      
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
      </ul>
    </div>
  </nav>